KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/gdt/gdt.o \
$(ARCHDIR)/gdt/gdt_asm.o \
$(ARCHDIR)/gdt/segment_descriptor.o \
$(ARCHDIR)/interrupt/flag.o \
$(ARCHDIR)/interrupt/interrupt_handler_asm.o \
$(ARCHDIR)/interrupt/interrupt_handler.o
